.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabelCredenciais{
  display: flex;
  justify-content: center;
  width: 50%;
  border: 2px solid blue; /* Largura, estilo e cor da borda */
  padding: 10px; /* Espaçamento interno */
}

.tableLabels{
  width: fit-content;
  justify-content: center;
  border: 2px solid black;
  text-align: left;
  padding: 10px;
}

.entrar{
  margin-top: 8px;
  text-align: end;
}

